/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Container */
.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  overflow: hidden;
}

/* Loading Screen */
.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
  text-align: center;
}

/* Scrollbars */
.container::-webkit-scrollbar,
.chatlist::-webkit-scrollbar,
.center::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb,
.chatlist::-webkit-scrollbar-thumb,
.center::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

